ul {
  list-style-type: none;
}

.nav-cart-button ul {
  margin-bottom: 0 !important;
}

button.btn.cart-icon-button-class {
  border: none;
}

.cart-icon-button-class .fa-cart-shopping,
.checkout-tab-button,
.checkout-button {
  background: linear-gradient(to bottom, #6fbef3 10%, #4a8eda 100%);
  background-color: #5ba4e6;
  /* Fallback color for older browsers */
  border: 1px solid #215990;
  color: white;
  cursor: pointer;
  font-weight: 900;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5),
    0px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6fbef3', EndColorStr='#4a8eda');
  padding: 8px;
  border-radius: 5px;
}

.cart-icon-button-class:hover .fa-cart-shopping:hover,
.checkout-tab-button:hover,
.checkout-button:hover {
  background: linear-gradient(to bottom, #74c5f9 10%, #4f96e7 100%);
  color: white;
  cursor: pointer;
  font-weight: 900;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5),
    0px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#74c5f9', EndColorStr='#4f96e7');
}

button.btn.cart-icon-button-class {
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: center;
  padding-right: 0;
}

.merchi-cart-badge {
  color: #fff;
  background-color: #dc3545;
}

.modal {
  z-index: 1050;

  @media screen and (max-width: 425px) {
    backdrop-filter: blur(5px);
  }
}

.modal-dialog {
  position: fixed !important;
  top: 0;
  margin: 0 !important;
  right: 0 !important;
  left: unset !important;
  height: 100% !important;
  width: 90%;
  max-width: 500px;
  padding: 0 !important;
  border-radius: 0;
  background-color: #fff;
  overflow-y: auto;
  opacity: 95%;

  @media screen and (max-width: 425px) {
    max-width: 100%;
    width: 100%;
    opacity: 85%;
  }
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translateX(100%);
}

.modal.show .modal-dialog {
  transform: translateX(0);
}

/* .modal-dialog > .merchi-tab-panel:nth-of-type(2)[style="display: block;"] {
  width: 90% !important;
  max-width: 90% !important;
} */

.modal-content {
  /* border-radius: 0; */
  padding: 1.5rem;
  height: 100%;
  border: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  @media screen and (max-width: 375px) {
    padding: 0.5rem;
  }
}

.merchi-cart-header {
  padding: 1.5rem 1.9rem 1.5rem 0.8rem;
}

button.merchi-btn-close {
  padding: 2px 7px;
  border: 1.5px solid;
  border-radius: 5px;
}

.merchi-cart-modal-alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  position: absolute;
  z-index: 1060;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  margin-bottom: 0;
  transform: translateX(-50%) translateY(120%);
  width: 80%;

  @media screen and (max-width: 425px) {
    padding: 10px 15px;
  }
}

/* Alert types */
.merchi-cart-modal-alert.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.merchi-cart-modal-alert.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.merchi-cart-modal-alert.alert-warning {
  background-color: #fff3cd;
  color: #856404;
}

.merchi-cart-modal-alert.alert-info {
  background-color: #cce5ff;
  color: #004085;
}

.merchi-cart-modal-alert h5 {
  @media screen and (max-width: 425px) {
    font-size: 1rem;
  }
}

.modal-content .merchi-nav-tabs {
  display: none;
}

.merchi-nav-pills .merchi-nav-link.active {
  background-color: #5ba4e6;
}

div[style*="width: 700px;"] {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  @media screen and (max-width: 425px) {
    width: 300px !important;
  }
}

.space-y-4 .merchi-tab-panel:first-of-type {
  display: block !important;
}

.cart-summary td.border-0.align-middle.text-right:last-child,
.cart-summary th.merchi-cart-item-table-head-right:last-child {
  display: none;
}

.cart-summary .merchi-cart-total-container {
  padding: 1rem;
}

.merchi-tab-pane {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2rem;
  /* align-items: center; */
}

td.border-0.align-middle.text-right {
  text-align: center;
}

th.merchi-cart-item-table-head-right {
  text-align: center;
}

.merchi-cart-total-container {
  justify-content: center;

  @media (min-width: 768px) {
    font-size: large;
  }
}

.table-responsive {
  padding-left: 1rem;
  padding-right: 1rem;

  @media (max-width: 375px) {
    font-size: 0.6rem;
  }

  @media (max-width: 768px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.table-responsive strong {
  font-size: 0.8rem;
}

.table> :not(caption)>*>* {
  background-color: transparent;
}

.merchi-cart-body form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.merchi-cart-body {
  padding-top: 1 rem !important;
  padding-bottom: 0 !important;

  @media screen and (max-width: 425px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.merchi-embed-form_summary-product-cost {
  margin: 1rem 0 0;
}

.merchi-row {
  gap: 1rem;
}

.merchi-discount-group-container {
  align-items: center !important;
  gap: 1rem;
}

.merchi-cart-footer {
  flex-direction: row;
  padding-top: 1rem;
  gap: 2rem;
  justify-content: center;

  @media screen and (max-width: 425px) {
    gap: 1rem;
  }
}

.cart-summary.merchi-cart-footer {
  display: flex;
}

/* Backdrop Overlay */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent overlay */
  z-index: 1040;
  /* Behind the drawer */
}

/* Checkout Page */
.merchi-cart-tab-content {
  flex-direction: column;
}

.checkout-info .merchi-tab-panel,
.checkout-info .merchi-cart-body,
.checkout-info .merchi-cart-tab-content {
  display: flex !important;
  width: 100% !important;
}

.checkout-info .merchi-cart-tab-content div {
  width: 100% !important;
  flex-direction: column;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

.cart-summary .merchi-tab-panel {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 345px;
}

.merchi-cart-body {
  flex-direction: column;
}

.merchi-cart-body div[style="width: 400px;"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.merchi-cart-body div[style="width:400px"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

span.text-muted {
  margin-left: 1rem !important;
}

.merchi-cart-total-list-container ul.list-group {
  width: 100%;
}